#container {
    display: flex; 
    border: 1px solid black;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
}

.square {
    box-sizing: border-box;
    width: calc(100% / var(--size));
    height: calc(100% / var(--size));
    background-color: wheat;
    
}

.gridButton {
    background-color: grey;
    border: none;
    color: antiquewhite;
    text-align: center;
    font-size: 4px;
}

body {
    margin-top: 0;
}